<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tanner Barnum</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


</head>

<body>
    <div id="navBarCSS">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a onclick="window.location.href = '/'" id="nameCSS" class="navbar-brand" href="/">Tanner Barnum</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br><br><br>


    <div id='container'>
        <div id="aboutMeDiv">
            <h1 id="aboutMe">About Me</h1>
        </div>
        <div>
            <img id="profilePic" src="/images/profilepic.png" alt="picture of me">
            <p id='description'>Full Stack Web Developer proficient in HTML, CSS, JavaScript, Node.js, MySQL, Express
                and jQuery with a passion for coding and creating meaningful web applications. Love to
                research and learn new languages, frameworks, and libraries on my own. Possess strong commitment to
                team environment dynamics with the ability to contribute expertise and follow leadership directives at
                appropriate times. Finally, I am extremely detailed-oriented, excellent in a team environment, a strong
                analytical and logical thinker, and am highly motivated by the challenge.</p>
        </div>
    </div>
    <footer>
        <p>© Copyright</p>
        <p>Contact information: <a href="tanner.barnum@icloud.com">
                tanner.barnum@icloud.com</a></p>
    </footer>
</body>

</html>