<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tanner Barnum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/portfolio.css">

</head>

<body>
    <div id="navBarCSS">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1 id="nameCSS" class="navbar-brand" href="#">Tanner Barnum</h1>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br><br><br>
    <div id='container'>
        <div id="aboutMeDiv">
            <h1 id="aboutMe">My portfolio</h1>
        </div>
        <div>
            <div id="picContainer" class="row">
                <div id="triviaDiv" class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="pic card-img-top" src="../public/images/bamazon.gif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Liri Bot</h5>
                            <p class="card-text">App run with CLI. It is an Amazon like storefront made primarily using Node.js and mySQL</p>
                            <a href="https://github.com/barnumtj/bamazonCLI" class="btn btn-primary">Check it out</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="pic card-img-top" src="https://getmemycoffee.herokuapp.com/img/coffee.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Coffee App</h5>
                            <p class="card-text">Group based project built primarily with Node.js, Express.js, and
                                mySQL.</p>
                            <a href="https://getmemycoffee.herokuapp.com/" class="btn btn-primary">Check it out</a>
                        </div>
                    </div>
                </div>
                <div id="liriBotDiv" class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="pic card-img-top" src="../public/images/triviagameimage.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Trivia App</h5>
                            <p class="card-text">Sports news scraper for Kansas City.  Made using MongoDB, Node.js, Express.</p>
                            <a href="=https://sportsnewsscraper.herokuapp.com/" class="btn btn-primary">Check it out</a>
                        </div>
                    </div>
                </div>
        </div>
        <div id="picContainer" class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="pic card-img-top" src="../public/images/triviagameimage.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Trivia App</h5>
                            <p class="card-text">Group based project built primarily with Node.js, Express.js, and
                                mySQL.</p>
                            <a href="=https://getmemycoffee.herokuapp.com/" class="btn btn-primary">Check it out</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="pic card-img-top" src="https://getmemycoffee.herokuapp.com/img/coffee.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Coffee App</h5>
                            <p class="card-text">Group based project built primarily with Node.js, Express.js, and
                                mySQL.</p>
                            <a href="=https://getmemycoffee.herokuapp.com/" class="btn btn-primary">Check it out</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="pic card-img-top" src="../public/images/triviagameimage.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Trivia App</h5>
                            <p class="card-text">Group based project built primarily with Node.js, Express.js, and
                                mySQL.</p>
                            <a href="=https://getmemycoffee.herokuapp.com/" class="btn btn-primary">Check it out</a>
                        </div>
                    </div>
                </div>
</body>

</html>